img{ width: 200px;
}
body{ text-align: center;
background-color: antiquewhite;
}
.left{
    float:left;
    margin-left: 350px;
    background-color: beige;
    margin-bottom: 15px;
}
.right{
    float:right;
    margin-right: 350px;
    background-color: blanchedalmond;
    margin-bottom: 15px;
}